@font-face {
  font-family: 'Main-font';
  src: url(../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Main-font-italic';
  src: url(../assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Title-font';
  src: url(../assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf);
}

:root {
  --mainFront: 'Main-font';
  --mainFontItalic: 'Main-font-italic';
  --titleFont: 'Title-font';
  --backgroundDivContainer: rgba(0, 0, 0, 0.6);
  --fontColor: #ffffff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../assets/pictures/ElodieRoyPhotographe-4942.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--mainFront);
}

p,
span,
label {
  font-family: var(--mainFront);
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

header,
footer,
section,
article {
  margin: 3rem;
  max-width: 1440px;
}

article,
header,
footer {
  background-color: var(--backgroundDivContainer);
}

article {
  padding-block: 6rem;
  padding-inline: 4rem;
}

header {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
}

.header-link-container {
  margin-block: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-icon {
  margin-inline: 2rem;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.header-icon:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.description-paragraph {
  text-align: center;
  line-height: 1.7;
}

.team-container-left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.team-container-left .team-info-container {
  margin-left: 5rem;
}

.team-container-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.team-container-right .team-info-container {
  margin-right: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team-container-left,
.team-container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-info-container h2 {
  text-transform: uppercase;
  font-weight: 600;
}

.team-info-container h3 {
  text-transform: uppercase;
  margin-block: 2rem;
  font-weight: 600;
}

.team-info-container p {
  line-height: 1.5;
  text-align: justify;
}

.team-picture {
  width: 20rem;
  margin-block: 1rem;
}

.video-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.yt-video {
  width: 720px;
  height: 405px;
}

.hidden {
  display: none;
}

.player {
  max-width: 500px;
  margin: 7rem auto;
  background: white;
  padding: 36px 32px 24px 32px;
  border-radius: 14px;
}

.player-track-meta {
  text-align: center;
}

.player-track-meta p {
  margin: 0;
  font-size: 20px;
  color: #0e0e0e;
  font-weight: 700;
}

.player-track-meta span {
  font-size: 16px;
  font-weight: 400;
  padding: 0 2px;
  position: relative;
  top: 1px;
  color: #a3a3a3;
}

.player-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player-play-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 36px;
}

.icon-container {
  fill: transparent;
  stroke: none;
}

.player-play-btn:hover {
  fill: #444444;
}

.player-play-btn svg {
  color: #0e0e0e;
  position: relative;
  left: 0.5px;
  width: 36px;
  height: 36px;
  display: block;
}

.player-play-btn:hover svg {
  color: #ffffff;
}

.player-timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10px;
}

.player-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 6px;
  background: #a3a3a3;
  border-radius: 25px;
  margin: 0 5px;
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  overflow: hidden;
}

.player-progress-filled {
  height: 6px;
  background: #0e0e0e;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
  border-radius: 25px;
}

.player-time {
  padding: 2px 5px;
  color: #0e0e0e;
}
/*# sourceMappingURL=styles.css.map */