@font-face {
    font-family: 'Main-font';
    src: url(../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Main-font-italic';
    src: url(../assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Title-font';
    src: url(../assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf);
}

:root {
    --mainFront: 'Main-font';
    --mainFontItalic: 'Main-font-italic';
    --titleFont: 'Title-font';
    --backgroundDivContainer: rgba(0,0,0,0.6);
    --fontColor: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../assets/pictures/ElodieRoyPhotographe-4942.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--mainFront);
}

p, span, label {
    font-family: var(--mainFront);
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

header, footer, section, article {
    margin: 3rem;
}

article, header, footer {
    background-color: var(--backgroundDivContainer);
}

article {
    padding-block: 6rem;
    padding-inline: 4rem;
}

header {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header-link-container {
    margin-block: 3rem;
    display: flex;
    align-items: center;
}

.header-icon {
    margin-inline: 2rem;
    transition: 300ms;
    &:hover {
        transform: scale(1.4);
    }
}

.description-paragraph {
    text-align: center;
    line-height: 1.7;
}

.team-container-left {
    flex-direction: row;
}

.team-container-right {
    flex-direction: row-reverse;
}

.team-container-left, .team-container-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-info-container {
    h2 {
        text-transform: uppercase;
        font-weight:600
    };
    h3 {
        text-transform: uppercase;
        margin-block: 2rem;
        font-weight:600
    }
    p {
        line-height: 1.5;
        text-align: justify;
    }
}

.team-picture {
    width: 20rem;
    // border-radius: 50%;
}