@font-face {
    font-family: 'Main-font';
    src: url(../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Main-font-italic';
    src: url(../assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Title-font';
    src: url(../assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf);
}

:root {
    --mainFront: 'Main-font';
    --mainFontItalic: 'Main-font-italic';
    --titleFont: 'Title-font';
    --backgroundDivContainer: rgba(0, 0, 0, 0.6);
    --fontColor: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../assets/pictures/ElodieRoyPhotographe-4942.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--mainFront);
}

p,
span,
label {
    font-family: var(--mainFront);
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

header,
footer,
section,
article {
    margin: 3rem;
    max-width: 1440px;
}

article,
header,
footer {
    background-color: var(--backgroundDivContainer);
}

article {
    padding-block: 6rem;
    padding-inline: 4rem;
}

header {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.header-link-container {
    margin-block: 3rem;
    display: flex;
    align-items: center;
}

.header-icon {
    margin-inline: 2rem;
    transition: 300ms;
    &:hover {
        transform: scale(1.4);
    }
}

.description-paragraph {
    text-align: center;
    line-height: 1.7;
}

.team-container-left {
    flex-direction: row;

    .team-info-container {
        margin-left: 5rem;
    }
}

.team-container-right {
    flex-direction: row-reverse;

    .team-info-container {
        margin-right: 5rem;
        display: flex;
        flex-direction: column;
    }
}

.team-container-left,
.team-container-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-info-container {
    h2 {
        text-transform: uppercase;
        font-weight: 600;
    }
    h3 {
        text-transform: uppercase;
        margin-block: 2rem;
        font-weight: 600;
    }
    p {
        line-height: 1.5;
        text-align: justify;
    }
}

.team-picture {
    width: 20rem;
    margin-block: 1rem;
}

.video-article {
    display: flex;
    justify-content: center;
}

.yt-video {
    width: 720px;
    height: 405px;
}

.hidden {
    display: none;
}

.player {
    max-width: 500px;
    margin: 7rem auto;
    background: white;
    padding: 36px 32px 24px 32px;
    border-radius: 14px;
}

.player-track-meta {
    text-align: center;
}

.player-track-meta p {
    margin: 0;
    font-size: 20px;
    color: #0e0e0e;
    font-weight: 700;
}

.player-track-meta span {
    font-size: 16px;
    font-weight: 400;
    padding: 0 2px;
    position: relative;
    top: 1px;
    color: #a3a3a3;
}

.player-controls {
    display: flex;
    align-items: center;
}

.player-play-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.icon-container {
    fill: transparent;
    stroke: none;
}

.player-play-btn:hover {
    fill: #444444;
}

.player-play-btn svg {
    color: #0e0e0e;
    position: relative;
    left: 0.5px;
    width: 36px;
    height: 36px;
    display: block;
}

.player-play-btn:hover svg {
    color: #ffffff;
}

.player-timeline {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}

.player-progress {
    display: flex;
    position: relative;
    height: 6px;
    background: #a3a3a3;
    border-radius: 25px;
    margin: 0 5px;
    flex: 10;
    flex-basis: 100%;
    overflow: hidden;
}

.player-progress-filled {
    height: 6px;
    background: #0e0e0e;
    flex: 0;
    flex-basis: 0%;
    border-radius: 25px;
}

.player-time {
    padding: 2px 5px;
    color: #0e0e0e;
}
